<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:uiOptions=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AeonMart_Demo"
        tools:targetApi="31">

<!--        <meta-data-->
<!--            android:name="com.google.android.actions"-->
<!--            android:resource="@xml/slider_view_rounded.xml" />-->
        <activity
            android:name=".Activity.HomeActivity"
            android:exported="true">
                <intent-filter>
                        <action android:name="android.intent.action.MAIN" />

                        <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
        </activity>
        <activity
            android:name=".Activity.XacNhanThanhToanActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ChinhSuaHoSoActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.GioHangActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ShopActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Danh_Gia_SP_Activity"
            android:exported="true" />
        <activity
            android:name=".Activity.Quay_ThuongActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.NewsActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Detail_Profile_Activity"
            android:exported="true" />
        <activity
            android:name=".Activity.SignInActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".Detail_HoSo_Activity.ProfileActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".Activity.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity android:name=".Detail_HoSo_Activity.ChangePassActivity"
            android:label="Change Password"/>
    </application>
</manifest>